In [1]:
grades = {'Juan': {'Maths': 2},
          'John': {'History': 1, 'Biology': 3},
          'Gianni': {'Biology': 1}}

In [8]:
grades['Juan']['History'] = 2
grades['Juan']['Biology'] = 1

grades['John']['Maths'] = 1

grades['Gianni']['History'] = 4
grades['Gianni']['Maths'] = 3
print(grades)

{'Juan': {'Maths': 2, 'History': 2, 'Biology': 1}, 'John': {'History': 1, 'Biology': 3, 'Maths': 1}, 'Gianni': {'Biology': 1, 'History': 4, 'Maths': 3}}

In [11]:
for numbers in [ 0,1,1,2,3,5]:
   double = numbers * 2
   print(numbers, double)

0 0
1 2
1 2
2 4
3 6
5 10

In [24]:
for numbers in [90,3,4]:
    print (numbers)

90
3
4

In [25]:
primes = 2, 3, 5
for numbers in primes:
    squared= numbers*2
    cubed= numbers*3
    print (primes, squared, cubed)

(2, 3, 5) 4 6
(2, 3, 5) 6 9
(2, 3, 5) 10 15

In [29]:
for numbers in range(0, 3):
    print(numbers)

0
1
2

In [30]:
for fruits in range ( 3, 8):
    print (fruits)

3
4
5
6
7

In [31]:
for numbers in [3,4,5]:
    print (numbers)

3
4
5

In [32]:
for numbers in range [3,4]:
    print (numbers)

TypeError: type 'range' is not subscriptable

In [33]:
for numbers in range (3,4):
    print (numbers)

3

In [34]:
primes = [2, 3, 5]
for numbers in (primes):
    sqared = numbers * 2
    cubed = numbers * 3
    print (numbers, squared, cubed)

2 10 6
3 10 9
5 10 15